<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> 
    a{
        margin: 10px;
        text-decoration:double;
        color: black;
    }
    header{
        width: 100%;
        padding: 10px 0;
        background-color: #ffffff;
        border-bottom: 2px solid rgb(190, 172, 172);
        text-align: center;
    }
</style>
<body>
    <header>
        <a href="{% url 'admin' %}">Для администраторов</a>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'add_statement' %}">Подать заявление</a>
        <a href="{% url 'logout' %}">Выйти</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>