<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method='post'>
        {%csrf_token%}
        <h1>Регистрация</h1>
        <input name="name" type="text" placeholder="username" required>
        <input name="email" type="text" placeholder="email" required>
        <input name="password" type="text" placeholder="password" required minlength="4">
        <button type="submit">Войти</button>
    </form>
    <a href = "{% url 'auth'%}">Авторизация</a>
</body>
</html>

